cloudpickle==1.2.2
cycler==0.11.0
fonttools==4.35.0
future==0.18.2
gym==0.15.4
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.19.5
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.2.0
pybullet==3.2.5
pyglet==1.3.2
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.7.3
six==1.16.0
typing-extensions==4.3.0
cma==3.2.2
git+https://github.com/ollenilsson19/QDgym.git#egg=QDgym
